{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="container">
    <div class="m-auto col-4 border rounded p-3 mt-4 bg-primary text-white">   
        {{ form_start(contact) }}
            <div class="mb-3">
                {{ form_label(contact.name) }}
                 <div class="input-group">
                 <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-person"></i>
                 </span>
                    {{ form_widget(contact.name, {
                        attr: {
                            class: 'form-control'
                        }
                    }) }}
                </div>
            </div>

            <div class="mb-3">
                {{ form_label(contact.email) }}
                 <div class="input-group">
                 <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-envelope-at"></i>
                 </span>
                    {{ form_widget(contact.email, {
                        attr: {
                            class: 'form-control'
                        }
                    }) }}
                </div>
            </div>

            <div class="mb-3">
                {{form_label(contact.subject) }}
                {{ form_widget(contact.subject, {
                    attr: {class: 'form-select'},
                })
                }}
            </div>

            <div class="mb-3">
                {{ form_label(contact.message) }}
                 <div class="input-group">
                 <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-chat-left-text"></i>
                 </span>
                    {{ form_widget(contact.message, {
                        attr: {
                            class: 'form-control'
                        }
                    }) }}
                </div>
            </div>
            <div class="mb-3 form-check">
                    <input class="form-check-input" type="checkbox" name="" id="form-check">
                    <label for="form-check-input">J'accepte d'être recontacté(e)</label>
            </div>
            <button type="submit" class="btn btn-dark">
                Envoyer
            </button>
        {{ form_end(contact) }}
    </div>
</div>
{% endblock %}
